@import '@/utils/mixins.scss';

.account {
  height: 400px;
  display: flex;
  flex-direction: column;
  @include container;
  padding: 20px 10px;
  gap: 20px;

  &__header {
    align-self: center;

    &__title {
      color: rgb(17, 17, 17);
      font-size: 1.8306rem;
      font-weight: 700;
      letter-spacing: 0%;
      text-transform: uppercase;
    }

    &__button {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.39px;
      text-wrap: nowrap;
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 12px;
      border-bottom: 1px solid #333;
      transition: background-color 0.2s ease;
      background-color: #fff;
      color: #000;

      &:hover {
        background-color: #f9f9f9;
      }

      & > span {
        flex: 1;
        text-align: left;
        color: #333;
      }

      & > button {
        margin-left: 10px;
      }
    }

    &__button {
      font-size: 0.75rem;
      font-weight: 500;
      padding: 6px 12px;
      border: 1px solid #000;
      cursor: pointer;
      background-color: #fff;
      color: #000;
      border-radius: 4px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-around;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.39px;
    text-wrap: nowrap;

    width: 300px;
    flex-direction: column;
    gap: 20px;

    @include responsive(tablet) {
      width: auto;
      flex-direction: row;
    }

    &__title {
      color: rgb(17, 17, 17);
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0%;
      text-transform: uppercase;
      width: fit-content;
      // align-self: center;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
      color: rgb(17, 17, 17);
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0%;
      text-transform: uppercase;
    }

    &__subtitle {
      color: rgb(0, 0, 0);
      font-size: 0.75rem;
      font-weight: 400;
      letter-spacing: 4.08px;
      text-transform: uppercase;
    }

    &__info {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.39px;
      text-wrap: nowrap;
    }

    &__button {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.39px;
      text-wrap: nowrap;
      width: fit-content;
      padding: 0;
    }
  }
}
