@import '../../utils/vars.scss';

.button {
  position: relative;
  overflow: hidden;
  background: $blue-button-color;
  width: 188px;
  align-items: center;
  padding: 12px 21px;
  color: $white;
  font-size: 10.87px;
  font-weight: 700;
  line-height: 18.46px;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s;

  &:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -100%;
    width: 150%;
    height: 200%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    );
    animation: none;
    transition: opacity 0.3s;
  }

  &:hover:before {
    animation: shimmer 1s infinite;
  }
}
