@import '@/utils/mixins.scss';
@import '@/utils/vars.scss';

.header_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include responsive(desktop-md) {
    flex-direction: row;
    // margin: 0 $header-inner-margin;
  }

  &__banner {
    margin: 0 auto;
    height: 150px;
    position: relative;

    &__image {
      position: absolute;
      top: -74px;
      left: -111px;
      width: 310px;
      height: 310px;

      // @include responsive(desktop-md) {
      //   width: 250px;
      //   height: 112px;
      // }
    }
  }

  &__search {
    padding: 0 10px;
  }

  &__burger {
    padding: 0 10px;

    @include responsive(desktop-md) {
      visibility: hidden;
      background-color: black;
    }
  }

  &__user {
    margin-right: 40px;

    &_icon {
      width: 24px;
      height: 24px;
    }
  }
}

.wrapper {
  @include container;
}
