@import "@/utils/mixins.scss";
@import "@/utils/vars.scss";

.header_main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  @include responsive(desktop-md) {
    flex-direction: row;
    margin: 0 $header-inner-margin;
  }

  &__banner {

    &__image {
      width: 140px;
      height: 63px;

      @include responsive(desktop-md) {
        width: 250px;
        height: 112px;
      }
    }
  }

  &__search {
    padding: 0 10px;
  }

  &__burger {
    padding: 0 10px;

    @include responsive(desktop-md) {
      visibility: hidden;
      background-color: black
    }
  }
}

.wrapper {
  @include container;
}