@import "../../utils/mixins.scss";
@import "../../utils/vars.scss";

.preview_section {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;

  padding: 0 20px;
  flex-direction: column;
  text-align: center;

  @include responsive(tablet) {
    padding: 0 40px;
    flex-direction: row;
    text-align: start;
  }

  @include responsive(desktop-md) {
    padding: 0 70px;
  }

  .name {
    // Add styles for .name if needed
  }

  &__image {
    height: auto;
    flex-shrink: 0;
    width: 100%;
    @include fadeIn(1.5s, 20px);

    @include responsive(tablet) {
      width: 55%;
    }

    &__order_left {
      order: 2;

      @media (max-width: $tablet) {
        order: 1;
      }
    }

    &__order_right {
      order: 1;

      @media (max-width: $tablet) {
        order: 2;
      }
    }
  }

  &__main_text {
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex: 1;

    @media (max-width: $tablet) {
      min-width: auto;
    }

    &__order_left {
      order: 1;
      padding-right: 30px;

      @media (max-width: $tablet) {
        padding: 0;
      }
    }

    &__order_right {
      order: 2;
      padding-left: 30px;

      @media (max-width: $tablet) {
        padding: 0;
      }
    }
  }

  &__title {
    color: $default-black-font;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

    @include responsive(tablet) {
      font-size: 26px;
      line-height: 26px;
    }

    @include responsive(desktop-md) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__subtitle {
    color: $default-black-font;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    @include responsive(tablet) {
      font-size: 18px;
      line-height: 18px;
    }

    @include responsive(desktop-md) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__button {
    position: relative;
    overflow: hidden;
    background: $blue-button-color;
    width: 188px;
    align-items: center;
    padding: 12px 21px;
    color: $white;
    font-size: 10px;
    font-weight: 700;
    line-height: 18.46px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s;

    &:before {
      content: "";
      position: absolute;
      top: -50%;
      left: -100%;
      width: 150%;
      height: 200%;
      background: linear-gradient(to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0));
      transition: opacity 0.3s;
      @include shimmer(3s); 
    }
  }
}
