// @import "../../utils/mixins.scss";
// @import "../../utils/vars.scss";

// .preview_section {
//   display: flex;
//   gap: 20px;
//   align-items: center;
//   padding: 20px;
//   flex-wrap: wrap;

//   @media (max-width: 768px) {
//     flex-direction: column;
//     text-align: center;
//   }

//   &__image {
//     max-width: 700px;
//     height: auto;
//     width: 100%;
//     flex-shrink: 0;

//     &__order__left {
//       order: 2;

//       @media (max-width: 768px) {
//         order: 1;
//       }
//     }

//     &__order__right {
//       order: 1;

//       @media (max-width: 768px) {
//         order: 1;
//       }
//     }
//   }

//   &__main__text {
//     display: flex;
//     gap: 16px;
//     flex-direction: column;
//     flex: 1;
//     // max-width: 300px;

//     &__order__left {
//       order: 1;

//       @media (max-width: 768px) {
//         order: 2;
//       }
//     }

//     &__order__right {
//       order: 2;

//       @media (max-width: 768px) {
//         order: 2;
//       }
//     }
//   }

//   &__title {
//     color: $default-black-font;
//     font-size: 2rem;
//     font-weight: 700;
//     line-height: 2rem;
//     letter-spacing: 0%;
//     text-transform: uppercase;

//     @media (max-width: 768px) {
//       font-size: 1.5rem;
//       line-height: 1.5rem;
//     }
//   }

//   &__subtitle {
//     color: $default-black-font;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5rem;
//     letter-spacing: 0.43px;

//     @media (max-width: 768px) {
//       font-size: 0.875rem;
//       line-height: 1.25rem;
//     }
//   }

//   &__button {
//     position: relative; // Make sure it's positioned relatively to use absolute positioning for the shimmer effect
//     overflow: hidden; // Hide overflow to prevent shimmer from extending outside the button
//     background: $blue-button-color;
//     width: 188px;
//     align-items: center;
//     padding: 12px 21px 12px 21px;
//     color: $white;
//     font-size: 10.87px;
//     font-weight: 700;
//     line-height: 18.46px;
//     letter-spacing: 3.9px;
//     text-align: center;
//     text-transform: uppercase;
//     text-wrap: nowrap;
//     transition: color 0.3s;

//     &:before {
//       content: "";
//       position: absolute;
//       top: -50%; // Move the shimmer element above the button
//       left: -100%; // Move the shimmer element outside the button to start the animation from the left
//       width: 150%; // Make it wider to ensure full coverage during animation
//       height: 200%; // Make it taller to ensure full coverage during animation
//       background: linear-gradient(
//         to right,
//         rgba(255, 255, 255, 0),
//         rgba(255, 255, 255, 0.3),
//         rgba(255, 255, 255, 0)
//       ); // Gradient for the shimmer effect
//       animation: none; // Initially, don't play the shimmer animation
//       transition: opacity 0.3s; // Add a transition for smoother appearance
//     }

//     &:hover:before {
//       animation: shimmer 1s infinite; // Apply shimmer animation on hover
//     }
//   }
// }

// @keyframes shimmer {
//   0% {
//     transform: translateX(
//       -100%
//     ); // Start the animation from outside the button on the left
//   }
//   100% {
//     transform: translateX(
//       100%
//     ); // Move the shimmer element outside the button on the right
//   }
// }

@import "../../utils/mixins.scss";
@import "../../utils/vars.scss";

.preview_section {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

  @media (max-width: 950px) {
    flex-direction: column;
    text-align: center;
  }

  &__image {
    max-width: 700px;
    height: auto;
    width: 100%;
    flex-shrink: 0;

    @media (max-width: 950px) {
      max-width: 500px; // Adjust the image size for screens <= 950px
    }

    @media (max-width: 950px) {
      max-width: 100%; // Adjust the image size for screens <= 768px
      order: 1; // Ensure the image order is consistent for smaller screens
    }

    &__order__left {
      order: 2;

      @media (max-width: 950px) {
        order: 1;
      }
    }

    &__order__right {
      order: 1;

      @media (max-width: 950px) {
        order: 1;
      }
    }
  }

  &__main__text {
    display: flex;
    gap: 16px;
    flex-direction: column;
    flex: 1;
    // min-width: 300px;

    @media (max-width: 950px) {
      min-width: auto; 
    }

    &__order__left {
      order: 1;

      @media (max-width: 950px) {
        order: 2;
      }
    }

    &__order__right {
      order: 2;

      @media (max-width: 950px) {
        order: 2;
      }
    }
  }

  &__title {
    color: $default-black-font;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0%;
    text-transform: uppercase;

    @media (max-width: 950px) {
      font-size: 1.75rem; // Adjust font-size for screens <= 950px
      line-height: 1.75rem;
    }

    @media (max-width: 768px) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  &__subtitle {
    color: $default-black-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.43px;

    @media (max-width: 950px) {
      font-size: 0.9rem; 
      line-height: 1.4rem;
    }

    @media (max-width: 768px) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }

  &__button {
    position: relative; // Make sure it's positioned relatively to use absolute positioning for the shimmer effect
    overflow: hidden; // Hide overflow to prevent shimmer from extending outside the button
    background: $blue-button-color;
    width: 188px;
    align-items: center;
    padding: 12px 21px 12px 21px;
    color: $white;
    font-size: 10.87px;
    font-weight: 700;
    line-height: 18.46px;
    letter-spacing: 3.9px;
    text-align: center;
    text-transform: uppercase;
    text-wrap: nowrap;
    transition: color 0.3s;

    &:before {
      content: "";
      position: absolute;
      top: -50%; // Move the shimmer element above the button
      left: -100%; // Move the shimmer element outside the button to start the animation from the left
      width: 150%; // Make it wider to ensure full coverage during animation
      height: 200%; // Make it taller to ensure full coverage during animation
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0)
      ); // Gradient for the shimmer effect
      animation: none; // Initially, don't play the shimmer animation
      transition: opacity 0.3s; // Add a transition for smoother appearance
    }

    &:hover:before {
      animation: shimmer 1s infinite; // Apply shimmer animation on hover
    }
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%); // Start the animation from outside the button on the left
  }
  100% {
    transform: translateX(100%); // Move the shimmer element outside the button on the right
  }
}
