@import '../../../utils/vars.scss';
@import '../../../utils/mixins.scss';

.loginContainer {
  max-width: 400px;
  margin: 60px auto auto auto;
  padding: 2rem;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #7a7a7a;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #ff5252;
}

.icon {
  width: 24px;
  height: 24px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  margin-bottom: 3.5rem;
  letter-spacing: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.label {
  font-size: 1rem;
  color: #666666;
  letter-spacing: 4px;
}

.inputContainer {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.input {
  width: calc(100% - 1.375rem);
  padding: 0.7rem 0.6875rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #000;
  transition: border-color 0.3s ease;
  background-color: #ffffff;
  margin-top: 20px;
}

.input:focus {
  border-color: #000;
  outline: none;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  align-items: center;
}

.checkbox {
  margin-right: 0.5rem;
}

.rememberMe {
  font-size: 0.875rem;
  color: #666666;
}

.forgotPassword {
  font-size: 0.875rem;
  color: #3b82f6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgotPassword:hover {
  color: #2563eb;
}

.submitButton {
  height: 50px;
  width: calc(100% + 2.19px);
  background-color: #2f6fbe;
  color: #ffffff;
  padding: 0.75rem;
  font-size: 1.1rem;
  letter-spacing: 6px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #2563eb;
}

.registerText {
  font-size: 0.875rem;
  color: #666666;
  text-align: center;
  margin-top: 1rem;
}

.signUpLink {
  color: #3b82f6;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.signUpLink:hover {
  color: #2563eb;
}