// Breakpoints
$desktop-xl: 1920px;
$desktop-lg: 1440px;
$desktop-md: 1024px;
$mobile: 390px;

// Mixins
@mixin responsive($breakpoint) {
  @if $breakpoint == desktop-xl {
    @media (min-width: $desktop-xl) {
      @content;
    }
  }
  @else if $breakpoint == desktop-lg {
    @media (max-width: calc($desktop-xl - 1)) and (min-width: $desktop-lg) {
      @content;
    }
  }
  @else if $breakpoint == desktop-md {
    @media (max-width: calc($desktop-lg - 1)) and (min-width: $desktop-md) {
      @content;
    }
  }
  @else if $breakpoint == mobile {
    @media (max-width: calc($desktop-md - 1)) {
      @content;
    }
  }
}

@mixin container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
}
