@import '@/utils/mixins.scss';
@import '@/utils/vars.scss';

.wrapper {
  @include container;
}

.nav {
  display: none;

  @include responsive(desktop-md) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    text-decoration: none;

    padding: 8px 15px;
  }
}