@import '@/utils/mixins.scss';
@import '@/utils/vars.scss';

.cases_page {
  @include container;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: $block-gap-mobile;

  @include responsive(desktop-md) {
    gap: $block-gap-desktop;
  }

  &__sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $section-gap-mobile;

    @include responsive(desktop-md) {
      gap: $section-gap-desktop;
    }
  }

  &__cases_title {
    color: $default-black-font;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;

    @include responsive(desktop-md) {
      font-size: 1.5rem;
      line-height: 40px;
      margin-bottom: 30px;
    }
  }
}

.presentation_wrapper {
  @include bannerWrapper;
}

.title {
  color: $default-black-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  @include responsive(desktop-md) {
  }
}

.sub_title {
  color: $default-black-font;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  // align-self: center;
  text-align: center;
  display: inline-block;
  /* или display: inline-flex; */
}
