@import '@/utils/mixins.scss';
@import '@/utils/vars.scss';

.product {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 10px;
  margin-bottom: 75px;
  max-width: 1500px;
  margin: 0 auto;

  @include responsive(desktop-md) {
    flex-direction: row;
    padding: 0 40px;
    padding-top: 20px;
    position: relative;
  }

  &__img_wrapper {
    display: flex;
    flex-direction: column;
  }
}