@import '../../../../utils/mixins.scss';
@import '../../../../utils/vars.scss';
@import '../../../../utils/animations.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  max-width: 900px;
  padding: 0 20px;
}

.title {
  color: $default-black-font;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transition: all 0.6s ease-out;

  @include responsive(desktop-md) {
    font-size: 30px;
    line-height: 40px;
  }
}

.sub_title {
  color: $default-black-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  display: inline-block;
  opacity: 0;
  transition: all 0.6s ease-out;

  @include responsive(desktop-md) {
    color: rgb(17, 17, 17);
    font-size: 17.44px;
    font-weight: 400;
    line-height: 30.94px;
    letter-spacing: 0.43px;
    text-align: center;
  }
}

.fadeInUp {
  @include fadeInUp(0.8s, 30px);
}