@import "@/utils/mixins.scss";
@import "@/utils/vars.scss";

.banner {
  max-height: 650px;  // Залишаємо фіксовану максимальну висоту для банера
  overflow: hidden;
  position: relative;
  width: 100%;  // Контейнер займає всю ширину

  &__video {
    width: 100%;  // Встановлюємо відео на всю ширину
    height: auto;  // Автоматична висота для збереження пропорцій
    object-fit: cover;  // Відео заповнює контейнер і не пливе
    position: relative;  // Зберігаємо відносне позиціонування для елементів

    &::before {
      content: "BETTER TOURING";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      color: $white;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;

      @include responsive(mobile) {
        font-size: 32px;
      }

      @include responsive(tablet) {
        font-size: 48px;
      }

      @include responsive(desktop-md) {
        font-size: 64px;
      }

      @include responsive(desktop-lg) {
        top: 30%;
        font-size: 80px;
      }

      @include responsive(desktop-xl) {
        font-size: 128px;
      }
    }

    &::after {
      content: "THINK OUTSIDE THE BOX";
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: $white;
      font-size: 8px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 1px;

      @include responsive(mobile) {
        font-size: 10px;
      }

      @include responsive(tablet) {
        font-size: 12px;
      }

      @include responsive(desktop-md) {
        font-size: 16px;
      }

      @include responsive(desktop-lg) {
        top: 40%;
        font-size: 18px;
      }

      @include responsive(desktop-xl) {
        font-size: 28px;
      }
    }
  }
}

.suspense {
  z-index: 100;
  color: red;
}
