@import "@/utils/mixins.scss";
@import "@/utils/vars.scss";

.banner {
  max-height: 650px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__video {
    height: 100%;

    &::before {
      content: "BETTER TOURING";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      color: $white;
      color: $white;
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 0%;
      text-transform: uppercase;
      box-shadow: 1px black;
      white-space: nowrap;

      @include responsive(mobile) {
        font-size: 32px;
      }

      @include responsive(tablet) {
        font-size: 48px;
      }

      @include responsive(desktop-md) {
        // top: 35%;
        font-size: 64px;
      }

      
      @include responsive(desktop-lg) {
        top: 30%;
        font-size: 80px;
      }

      @include responsive(desktop-xl) {
        font-size: 128px;
      }
    }

    &::after {
      content: "THINK OUTSIDE THE BOX";
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      display: flex;
      z-index: 2;

      color: $white;
      font-size: 8px;
      font-weight: 400;
      line-height: 31px;
      letter-spacing: 1px;

      @include responsive(mobile) {
        font-size: 10px;
      }

      @include responsive(tablet) {
        font-size: 12px;
        // top: 50%;
      }

      @include responsive(desktop-md) {
        // top: 45%;
        font-size: 16px;
      }

      @include responsive(desktop-lg) {
        top: 40%;
        font-size: 18px;
      }

      @include responsive(desktop-xl) {
        font-size: 28px;
      }
    }
  }

  // &__title {
  //   color: $white;
  //   font-size: 80px;
  //   font-weight: 700;
  //   line-height: 80px;
  //   letter-spacing: 0%;
  //   text-transform: uppercase;
  // }

  // &__text {
  //   color: $white;
  //   font-family: Inter;
  //   font-size: 18px;
  //   font-weight: 400;
  //   line-height: 31px;
  //   letter-spacing: 1px;
  //   text-align: center;
  // }

  // &__text_block {
  //   position: absolute;
  //   right: 50%;
  //   left: 50%;
  // }
}

.suspense {
  z-index: 100;
  color: red;
}