@import '@/utils/mixins.scss';
@import '@/utils/vars.scss';

.banner {
  position: relative;
  width: auto;
  height: auto;

  background: rgba(0, 0, 0, 1);

  &__image {
    width: 100%;
    object-fit: cover;
    // filter: blur(2px);
    filter: grayscale(100%) brightness(40%);
    z-index: -1;

    @include fadeIn(1.5s, 20px);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    user-select: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    @include responsive(desktop-lg) {
      text-wrap: nowrap;
    }

    &__page_name {
      font-size: 6px;
      font-weight: 400;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;

      @include responsive(tablet) {
        font-size: 16px;
        line-height: 26px;

        @include fadeIn(1.5s, 20px);
      }
    }

    &__title {
      font-weight: 700;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      margin-bottom: 40px;
      @include fadeIn(1.5s, 20px);

      @include responsive(tablet) {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 20px;
      }
    }

    &__subtitle {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.4px;
      text-align: center;
      @include fadeIn(1.5s, 20px);

      @include responsive(tablet) {
        font-size: 18px;
        line-height: 31px;
      }
    }

    &__subtitle_button {
      background-color: #111111;
      padding: 10px;
      color: #fff;
      cursor: pointer;

      position: relative;

      &__font {
        font-size: 11px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 4px;
        text-align: center;
        text-transform: uppercase;

        &:before {
          content: '';
          position: absolute;
          top: -50%;
          left: -100%;
          width: 150%;
          height: 200%;
          background: linear-gradient(to right,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0.3),
              rgba(255, 255, 255, 0));
          transition: opacity 0.3s;
          @include shimmer(3s);
        }
      }
    }
  }
}