@import '@/utils/mixins.scss';
@import '@/utils/vars.scss';

.wrapper {
  @include container;
  max-width: 1500px;
  width: 100%;
}

.tl2 {
  margin: 0 $header-inner-margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include responsive(desktop-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__text_links {
    display: flex;

    &__link {
      color: $black;
      text-decoration: none;
      font-size: 11.33px;
      font-weight: 400;
      letter-spacing: 0.43px;

      padding: 10px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 0 5px;
    cursor: pointer;
  }

  &__right_block {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.currency_picker__wrapper {
}

.currency_picker {
  display: flex;
  align-items: center;

  &__circle_ico {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-right: 10px;
  }

  &__text {
    color: $black;
    font-size: 10.83px;
    font-weight: 400;
    letter-spacing: 0.35px;
    text-align: center;
  }

  &__open_arrow {
    padding: 0 10px;
    margin-bottom: 4px;
  }
}
